<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&family=Ubuntu+Mono:wght@400;700&display=swap" rel="stylesheet">
<meta charset="utf-8">
<link rel="stylesheet" href='/assets/css/main.css'>
<link rel="stylesheet" href='/assets/css/content.css'>
<link rel="stylesheet" href='/assets/css/description.css'>
<link rel="stylesheet" href='/assets/css/font.css'>
<link rel="stylesheet" href='/assets/css/gallery.css'>
<link rel="stylesheet" href='/assets/css/largeScreen.css'>
<link rel="stylesheet" href='/assets/css/post.css'>
<link rel="stylesheet" href='/assets/css/smallScreen.css'>