<!doctype html>
<html lang="en-US">
<head>
  {% include header.html %}
</head>
<body>
    {% include navigation.html %}
    <div class="content-model">
      <div class="nav-placeholderr">yo</div>
      <div class="'post-container">
        <div class="post-description">
          <h2>{{ page.title }}</h2>
          <h4>{{ page.subtitle }}</h4>
          <p>{{ page.description }}</p>
        </div>
        <div class="post-content">
          {{ content }}
        </div>
      </div>
    </div>
</body>